[Unit]
Description=Run switch service
After=mycroft-xmos.service

[Service]
User=mycroft
WorkingDirectory=/home/mycroft
ExecStart=/usr/bin/mark2-switch-server
Restart=always
RestartSec=5

[Install]
WantedBy=default.target
