[Unit]
Description=Mycroft Mark II XMOS Setup

[Service]
Type=oneshot
User=mycroft
ExecStart=/home/mycroft/.local/share/mycroft/xmos-setup/start-xmos.sh

[Install]
WantedBy=default.target
