[Unit]
Description=Run LEDs service
After=dinkum-messagebus.service

[Service]
User=mycroft
WorkingDirectory=/home/mycroft
ExecStart=/usr/bin/mark2-leds-server
Restart=always
RestartSec=5

[Install]
WantedBy=default.target
