[Unit]
Description=Run switch volume service
After=mycroft-switch.service

[Service]
User=mycroft
WorkingDirectory=/home/mycroft
ExecStart=/usr/bin/mark2-volume-client

[Install]
WantedBy=default.target
